<div class="cover-container">
  <h1 class="cover-heading">Welcome to my online home.</h1>
  <p class="lead">
  	<span class="element"></span>
  </p>
  <p class="lead">
    <%= link_to "Portfolio", portfolios_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
